@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Orbitron:wght@400..900&family=Pacifico&family=Rajdhani:wght@300;400;500;600;700&family=Shafarik&family=Zeyada&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Orbitron:wght@400..900&family=Pacifico&family=Permanent+Marker&family=Rajdhani:wght@300;400;500;600;700&family=Shadows+Into+Light&family=Shafarik&family=Zeyada&display=swap');

@import url("https://use.typekit.net/gnv0fxf.css");
@import url("https://use.typekit.net/mhr6gpd.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grape+Nuts&family=Jura:wght@300..700&family=Noto+Sans+TC:wght@100..900&family=Orbitron:wght@400..900&family=Pacifico&family=Permanent+Marker&family=Rajdhani:wght@300;400;500;600;700&family=Righteous&family=Shadows+Into+Light&family=Shafarik&family=Zeyada&display=swap");



@font-face {
  font-family: 'UnifontexMono';
  src: url('/fonts/Unifontexmono-2vrqo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CreamySugar';
  src: url('/fonts/CreamySugar-gxnGR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dangernight';
  src: url('/fonts/Dangernight-vnZ5y.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CrotahFreeVersionItalic';
  src: url('/fonts/CrotahFreeVersionItalic-z8Ev3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AndroidInsomniaRegular';
  src: url('/fonts/AndroidInsomniaRegular-RLxW.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ava';
  src: url('/fonts/Ava-zrRWG.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AdamasRegular';
  src: url('/fonts/AdamasRegular-aM4g.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adonay';
  src: url('/fonts/Adonay-lgZdw.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AThemeForMurder';
  src: url('/fonts/AThemeForMurder-3aPG.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KingthingsSpikeless';
  src: url('/fonts/KingthingsSpikeless-lKPZ.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whoa';
  src: url('/fonts/Whoa-p3ar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EgyptienneZierinitialien';
  src: url('/fonts/EgyptienneZierinitialien-Rpj6.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PatchedPersonalUseOnlyBlack';
  src: url('/fonts/PatchedPersonalUseOnlyBlack-GOyOG.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RhodeIsland';
  src: url('/fonts/RhodeIsland-drqRV.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AutumnFlowers';
  src: url('/fonts/AutumnFlowers-9YVZK.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futurr';
  src: url('/fonts/Futurr-xO7V.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HussarPrzerywany';
  src: url('/fonts/HussarPrzerywany-XRy9.otf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'NightPumpkind';
  src: url('/fonts/NightPumpkind-1GpGv.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ChitongtrialRegular';
  src: url('/fonts/ChitongtrialRegular-YqGJ2.otf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Osake';
  src: url('/fonts/Osake-x3oqj.otf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Genjiro';
  src: url('/fonts/Genjiro-JRymx.otf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'NearoRoundedRegular';
  src: url('/fonts/NearoRoundedRegular-nRq64.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Haloberry';
  src: url('/fonts/Haloberry-nAdrJ.otf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* @import url('https://fonts.googleapis.com/css2?family=Avenir+Next&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Futura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Circular+Std&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica+Now&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neue+Haas+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Canela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GT+Walsheim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=FF+Meta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiempos+Headline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Apercu&display=swap'); */





@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
}




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.hidden {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}


.cust-z-index{
  /* background-color: pink !important; */
  
  z-index: 1000 !important;
}

.ijpgqP {
  pointer-events: none !important; 
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* .font-semibold{
  color:#c9bad8;
} */


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background: #2d2d2d; /* Dark background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(79 70 229) ; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(144, 141, 204); /* Hover effect */
}



.cust-animix-p-ref{
  background-color: rgba(0, 0, 0, 0.144) !important;
  border: dashed 1px black;
  border-radius: 8px;
  height: fit-content;
}

input[type=range]{
  cursor: pointer;
}

/* p{
  
  background: linear-gradient(90deg, #FF6B6B, #4A90E2);
  background: linear-gradient(90deg, #FF6B6B, #4A90E2); 
  background: url('https://image.api.playstation.com/vulcan/ap/rnd/202011/0402/C784xeOFo2wViCf4m5bxgoeH.png') no-repeat center center;
  -webkit-background-clip: text; 
  background-clip: text;       
  -webkit-text-fill-color: transparent; 
  color: transparent;              
  font-weight: bold;
} */

@keyframes blinkBorder {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: rgb(184, 102, 102);
  }
  100% {
    border-color: transparent;
  }
}


div {
  /* filter: sepia(40%) drop-shadow(2px 4px 6px black) hue-rotate(20deg); */
  backdrop-filter: "";
}



